html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}
body{
	background-color: #F8F8F8; 
}
.header{
	background-color: #D32F2F;
	text-align: center;
	font-family: Verdana, sans-serif;
	padding: 100px 15px 100px 15px;
	font-size: 50px;
	color: #FFFFFF;
}

.main-content{
	padding: 15px;
  	width: 450px;
  	margin: 15px auto 15px auto;
	text-align: center;
	border:1px solid black;
	background-color: #F8F8F8; 
}

label {
  display: block;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  margin-bottom: 15px;
  padding-top: 10px;
  color: #727272;
}

input{
	display: block;
	margin: 0 auto 0 auto;
	padding: 10px;
	font-family: sans-serif;

}


input[type=text]{
	width: 40px;
	padding:10px 40px 10px 40px;
	margin-bottom: 10px;
}

input[type=button]{
	display: inline;
	margin-top: 15px;
	width: 120px;
	padding: 5px;
	background-color: #03A9F4;
	color: #FFFFFF;
}

h2{
  display: block;
  font-family: sans-serif;
  margin-bottom: 15px;
  padding-top: 10px;
  color: #727272;
  font-size: 15px; 
}

.loser{
	background-color: #000000;
}

.winner{
	background-image: url("background_stars.jpg");
	
}
